*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 8%;
    text-align: center;
    color: #fff;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.btn{
    background: linear-gradient(#6a33ff, #351a80);
    color: #fff;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.content{
    margin: 15% auto 0;
}

.content h1{
    
}